# Ignore Python virtual environment
venv/

# Ignore model directory (if it's large or unneeded in the repo)
saved_model/

# Ignore cached files and folders
__pycache__/
*.py[cod]

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system files (like macOS specific .DS_Store)
.DS_Store

# Ignore log files
*.log

# Ignore other virtual environments or environment variables
.env
.venv
bert-fine-tuned-streamlit
bert-fine-tuned-streamlit/
